<header class="w-full flex justify-between items-center">
    <button id="backToHome" class="button-normal active text-white rounded-full">Back</button>
    <div class="bg-secondary text-white px-8 py-2 rounded-full">
        <div class="relative flex flex-col flex gap-2">
            <p class="absolute -top-2 left-0 w-full text-center text-sm">Score</p>
            <p data-score="0" class="text-[1.5rem]" id="score">0000</p>
        </div>
    </div>

    <div id="timer" class="bg-secondary text-white px-8 py-2 rounded-full">
        <div class="relative text-[1.5rem] flex gap-2">
            <p class="absolute -top-2 left-0 w-full text-center text-sm">Time</p>
            <p id="minuteValue">00</p>
            <p>:</p>
            <p id="secondValue">00</p>
        </div>
    </div>
</header>
<main class>
    <div class="w-full grid grid-cols-4 gap-4 my-16 px-4" id="gameContainer">
    </div>
    <section id="selectGameTime" class="w-full flex justify-center items-center">
        <div class="bg-white w-max px-8 py-4 flex flex-col justify-center items-center gap-4 rounded-2xl">
            <h3 class="text-4xl text-primary-shadow">Select Time Mode</h3>
            <div class="flex flex-col gap-2 w-max">
                <button data-button="60" class="button-time text-white rounded-lg button-small">60s</button>
                <button data-button="120" class="button-time text-white rounded-lg button-small">120s</button>
                <button data-button="300" class="button-time text-white rounded-lg button-small">300s</button>
            </div>
            <div class="w-full">
                <button id="startGame" class="w-full button-normal text-white active rounded-lg">Start</button>
            </div>
        </div>
    </section>
</main>

<section id="notification" class=" absolute top-0 left-0 w-full h-full flex justify-center items-center bg-slate-800/50">
    <div class="w-3/4 relative">
        <img src="/images/win_noti_2.png" alt="">
        <div class="absolute w-full top-28 left-0 transform-x-[-50%] flex flex-col gap-4">
            <div class="flex justify-between px-8">
                <h3 class="text-secondary text-3xl">Your Score:</h3>
                <h3 id="gameScore" class="bg-white px-4 py-0.5 text-header-shadow rounded-xl shadow-1 text-3xl">1200</h3>
            </div>
            <div class="flex justify-between px-8">
                <h3 class="text-secondary text-3xl">Highest Score:</h3>
                <h3 id="playerHighestScore" class="bg-white text-header-shadow px-4 py-0.5 text-header-shadow rounded-xl shadow-1 text-3xl">4900</h3>
            </div>
            <div class="flex justify-between px-8">
                <h3 class="text-secondary text-3xl">Total Coins:</h3>
                <div class="flex items-center gap-1 bg-white text-3xl px-4 py-0.5 text-header-shadow rounded-xl shadow-1 text-3xl">
                    <span class="noto--coin"></span>
                    <h3 id="totalCoins" class="">4900</h3>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <div class="flex justify-between px-8 text-xl">
                    <h4 class="text-secondary">Score Coins:</h4>
                    <div class="flex items-center text-white-shadow gap-1">
                        <span class="noto--coin"></span>
                        <p id="scoreCoins">100</p>
                    </div>
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex justify-between px-8 text-xl">
                        <h4 class="text-secondary">Size Bonus:</h4>
                        <div class="flex items-center text-white-shadow gap-1">
                            <span class="noto--coin"></span>
                            <p id="gameSizeBonus">100</p>
                        </div>
                    </div>
                    <div class="flex justify-between px-8 text-xl">
                        <h4 class="text-secondary">Time Bonus:</h4>
                        <div class="flex items-center text-white-shadow gap-1">
                            <span class="noto--coin"></span>
                            <p id="gameTimeBonus">100</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute text-2xl  left-12 bottom-10 flex justify-between">
            <div class="flex items-center gap-2 ">
                <i class="fa-solid fa-house text-white"></i>
                <a href="/" class="text-white rounded-full bg-transparent text-center">Home</a>
            </div>
        </div>
        <div class="absolute text-2xl  right-12 bottom-10 flex justify-between">
            <div class="flex items-center gap-2 ">
                <i class="fa-solid fa-rotate-left text-white"></i>
                <a href="/game" class="text-white rounded-full bg-transparent text-center">Again</a>
            </div>
        </div>
    </div>
</section>