{{> siteHeader title=title buttonBackRef=buttonBackRef}}
<main class="flex justify-center w-full h-max">
    <div class="w-11/12 bg-lightSub h-4/6 my-16 p-4 flex flex-col gap-4 rounded-xl">
        <header class="btn-rank-group w-full flex justify-center items-center gap-12">
            <button data-filter="overall" class="btn-rank-filter active">Overall</button>
            <button data-filter="4x4" class="btn-rank-filter inactive">4x4</button>
            <button data-filter="4x5" class="btn-rank-filter inactive">4x5</button>
        </header>

        <main id="listRankContainer" class="h-full flex flex-col gap-4">
            <!-- User components -->
            <div class="flex justify-between items-center px-4 py-2 bg-white rounded-lg shadow-md">
                <div class="flex items-center gap-4">
                    <div id="position" class="text-xl text-primary">1.</div>
                    <div id="playerName" class="text-xl">Test 1</div>
                </div>
                <div>
                    <div id="timeScore" class="text-xl">12:34</div>
                </div>
            </div>

            <div class="flex justify-between items-center px-4 py-2 bg-white rounded-lg shadow-md">
                <div class="flex items-center gap-4">
                    <div id="position" class="text-xl text-primary">2.</div>
                    <div id="playerName" class="text-xl">Test 1</div>
                </div>
                <div>
                    <div id="timeScore" class="text-xl">12:34</div>
                </div>
            </div>

            <div class="flex justify-between items-center px-4 py-2 bg-white rounded-lg shadow-md">
                <div class="flex items-center gap-4">
                    <div id="position" class="text-xl">3.</div>
                    <div id="playerName" class="text-xl">Test 1</div>
                </div>
                <div>
                    <div id="timeScore" class="text-xl">12:34</div>
                </div>
            </div>
        </main>
    </div>
</main>