<header class="w-full flex justify-between items-center gap-4">
	<a href="/admin/themes" class="button-normal active text-white rounded-full">Back</a>
	<h1 class="w-full text-4xl text-secondary">List Themes</h1>
</header>
<main class="flex justify-center w-full h-max relative">
	table
</main>