<div id="wrapper" class="w-screen h-screen bg-gray flex justify-center items-center">
	<div id="homeContainer" class="w-[600px] h-screen bg-white relative">
		<div class="absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-40%] w-full flex flex-col gap-4">
			<div>
				<h3 class="text-6xl w-full text-center text-primary my-4">Let's play</h3>
				<h1 class="text-8xl w-full text-center text-secondary my-4">The Memory Game</h1>
			</div>
			<div class="w-full flex justify-center items-center gap-8">
				<button button-data="4x4" class="difficult-size button-normal active text-white rounded-full">4 x 4</button>
				<button button-data="4x5" class="difficult-size button-normal text-white rounded-full">4 x 5</button>
			</div>
			<div class="w-full flex justify-center items-center gap-8">
				<button id="playGame" class="block w-24 h-24 rounded-full bg-primary">
					<i class="fa-solid fa-play text-white text-4xl"></i>
				</button>
			</div>
		</div>
		<div class="absolute bottom-0 left-1/2 translate-x-[-50%] translate-y-[-50%]">
			<div class="w-full flex justify-center items-center">
				<button id="viewRank" class="button-normal text-white rounded-full">Ranking</button>
			</div>
		</div>
		<div class="absolute bottom-0 right-4 translate-y-[-50%]">
			<div class="w-full flex justify-center items-center">
				<button class="w-14 h-14 bg-secondary text-white rounded-full"><i class="fa-solid fa-palette text-white text-2xl"></i></button>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/home/home.index.js"></script>
<!--<script src="/javascripts/home/home.process.js"></script>-->